<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Livros</title>

    <!-- biblioteca bootstrap  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body class="container" style="margin-top: 50px;">

    <% if (messages.success) { %>
        <div class="alert alert-success" role="alert">
            <%- messages.success %>
        </div>
        <% } %>

            <% if (messages.error) { %>
                <div class="alert alert-danger" role="alert">
                    <%- messages.error %>
                </div>
                <% } %>

                    <div class="card">
                        <div class="card-header">
                            <ul class="nav nav-pills w-100">
                                <li class="nav-pill active">
                                    <a class="nav-link">Livros</a>
                                </li>
                                <li class="nav-pill ml-auto">
                                    <a class="nav-link active" href="/livros/add">Novo Livro</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <% if(data.length) { %>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Nome</th>
                                            <th scope="col">Autor</th>
                                            <th width="200px">Ação</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for(var i =0; i < data.length; i++) { %>
                                            <tr>
                                                <th scope="row">
                                                    <%= (i+1) %>
                                                </th>
                                                <td>
                                                    <%= data[i].nome%>
                                                </td>
                                                <td>
                                                    <%= data[i].autor%>
                                                </td>
                                                <td>
                                                    <a class="btn btn-success editar" href="../livros/editar/<%=data[i].id%>">Editar</a>
                                                    <a class="btn btn-danger deletar" onclick="return alert('Você tem certeza?')" href="../livros/deletar/<%=data[i].id%>">Deletar</a>
                                                </td>
                                            </tr>
                                            <% } %>
                                    </tbody>
                                </table>
                                <% } %>

                                    <!-- se o resultado estiver vazio -->
                                    <%  if(!data.length) { %>
                                        <p class="text-center">nenhum livro encontrado</p>
                                        <% } %>
                        </div>
                    </div>
</body>

</html>